$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

@mixin anim-card($delay) {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 200ms;
    animation-delay: $delay;
    animation-fill-mode: forwards;
}

.loader {
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    animation: disapear 800ms linear 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;

    .spin {
        position: fixed;
        width: 50%;
        aspect-ratio: 1/1;
        top: 10%;
        position: relative;
        margin: auto;
        border-right: 20px solid $secondary-color;
        border-top: 20px solid $primary-color;
        border-bottom: 20px solid $primary-color;
        border-left: 20px solid $secondary-color;
        border-radius: 50%;
        background-color: $tertiary-color;
        animation: spin 4000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    img {
        position: absolute;
        top: 50%;
        left: 20%;
        width: 60%;
        z-index: 10;
        animation: rotateLogo 2s;
        animation-delay: 2s;
        animation-timing-function: linear;
        animation-iteration-count: 3;
        animation-fill-mode: forwards;
    }
}

@keyframes rotateLogo {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes disapear {
    0% {
        opacity: 1;
        z-index: 999;
    }

    99% {
        opacity: 0;
        z-index: 5;
    }

    100% {
        opacity: 0;
        z-index: -999;
    }

}

@keyframes spin {

    0% {

        transform: rotate(0deg);
    }

    50% {

        transform: rotate(1440deg);
        
    }

    51% {

        transform: rotate3d(0, 1, 0, 0deg);

    }

    100% {

        transform: rotate3d(0, 1, 0, 360deg);

    }
}

body {
    font-family: 'roboto';
    width: 100%;
    margin: 0px;
    background-color: white;

    h1,
    h2 {
        font-weight: bold;
    }
}

.btn-primary {
    display: flex;
    background: $primary-color;
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
    color: white;
    padding: 15px;
    margin: auto;
    margin-top: 30px;
    border: none;
    border-radius: 25px;
    width: fit-content;
    text-align: center;
    transition: all 800ms;
    cursor: pointer;
}
.btn-primary:hover{
    filter: brightness(115%);
    box-shadow: 1px 1px 2px 2px #8c8a8a;
}

header {

    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: auto;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 2px 3px #d6d6d6;

    img {
        width: 70%;
        margin: auto;
    }

    i {

        color: #353535;
        font-size: 3em;
        width: 10%;
    }
}

a {
    text-decoration: none;
    color: black;
}

.location {
    background-color: #eaeaea;
    width: auto;
    margin: auto;
    margin-top: 2px;

    i {
        margin-right: 20px;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100%;
        padding: 20px;
        text-align: center;
    }
}

.explore-restaurants {
    margin-top: 0px;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    padding-bottom: 40px;
   
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .btn {
        border-radius: 25px;
        border: none;
        padding: 30px;
        margin-top: 20px;
        background-color: #f7f7f7;
        vertical-align: middle;
        font-weight: bold;


        span {
            position: absolute;
            left: 10px;
            border-radius: 50%;
            background-color: $primary-color;
            width: 20px;
            text-align: center;
            color: white;
        }

        i {
            margin-right: 20px;
        }
    }

    .btn:hover {
        background-color: #f5edff;
        cursor: pointer;

        i {
            color: $primary-color;
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #f7f7f7;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 80px;
    margin-bottom: 0px;
    h2{
        margin-left: 30px;
    }

    a {
        margin-top: 15px;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 10px;
        padding-top: 0px;
        padding-bottom: 0px;


        border-radius: 25px;
        background-color: white;
        aspect-ratio: 12/9;
        box-shadow: 1px 1px 2px 2px #d6d6d6;
        position: relative;

        .new {
            position: absolute;
            right: 15px;
            top: 20px;
            font-size: 1.3em;
            background-color: $tertiary-color;
            color: #139273;
            padding: 15px;
            border-radius: 5px;
            font-weight: bold;

        }

        img {
            border-radius: 25px 25px 0px 0px;
            height: 80%;

            width: auto;
        }

        .container-infos {
            display: flex;
            flex-direction: row;

            .infos {
                width: 80%;
                position: relative;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            h3,
            p {
                padding-top: 0px;
                margin-top: 0px;
                padding-bottom: 0px;
                margin-bottom: 0px;
                padding-left: 10px;
            }


            i {
                text-align: center;
            }

            .favorite {
                width: 15%;
                height: fit-content;
                justify-content: center;
                position: relative;

                span {

                    .fa-solid {

                        width: fit-content;
                        padding: 0px;
                        margin: auto;
                        position: absolute;
                        top: 40px;
                        right: 30px;
                        font-size: 0em;
                        transition: all 800ms;
                        background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 0;

                    }

                    .fa-regular {
                        width: fit-content;
                        padding: 0px;
                        margin: 0px;
                        font-size: 1.8em;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        color: gray;
                    }

                    &:hover>.fa-solid {
                        padding: 0px;
                        margin: 0px;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        font-size: 1.9em;
                        opacity: 1;
                    }
                }
            }

        }

    }

}

footer {

    position: relative;
    background-color: #353535;
    color: white;

    h2 {
        font-style: italic;
        font-family: 'Shrikhand';
    }

    i {
        margin-right: 10px;
    }

    a {
        color: white;
    }

    margin-top: 0px;
    padding-top: 0px;

    border: 1px solid black;
    padding-left: 15px;
}

.img-restaurant {
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: relative;


    img {
        width: 100%;
        position: relative;
        aspect-ratio: 5/3;
        object-fit: cover;
    }

}

.underline {
    border-bottom: 3px solid $tertiary-color;
    padding-bottom: 3px;
}

.menu-restaurant {

    margin: auto;
    margin-top: -50px;
    background-color: #f7f7f7;
    border-radius: 25px;

    position: absolute;
    z-index: 2;
    width: 100%;
    position: relative;
    padding-bottom: 50px;

    h1 {
        font-style: italic;
        padding-left: 15px;
        padding-top: 30px;
    }

    section {


        padding-left: 15px;

        h2 {
            font-weight: normal;
            font-size: small;

        }

        p,
        h3 {
            margin-top: 2px;
            margin-bottom: 2px;
        }




        article {
            position: relative;
            width: 93%;
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            padding-top: 0px;
            border-radius: 20px;
            background-color: white;
            opacity: 1;


            .plat-infos {
                display: flex;
                flex-direction: column;

                width: 88%;
                position: relative;
                padding: 10px;
                padding-right: 0px;
                margin-right: 0px;
                transition: all 500ms;

                h3,
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }



            }

            .prices {

                font-weight: bold;
                width: 12%;
                position: relative;

                p {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
            }

            .plat-selected {
                display: flex;
                flex-direction: column;
                width: 0%;
                padding-right: 0px;
                background-color: $tertiary-color;
                padding: 0px;
                border-radius: 0px 20px 20px 0px;
                transition: width 500ms;

                i {
                    background-color: white;
                    width: 25%;
                    font-size: 0px;
                    aspect-ratio: 1/1;
                    height: auto;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin: auto;
                    text-align: center;
                    padding: 2px;
                    opacity: 0;
                    transition: all 500ms;
                    color: $tertiary-color;

                }
            }

            &:hover {
                cursor: url("/images/pointer.png"), pointer;
            }

            &:hover>.plat-selected {
                width: 25%;
            }

            &:hover>.plat-infos {
                width: 65%;
            }

            &:hover>.prices {
                width: 10%;
            }

            &:hover>.plat-selected i {
                font-size: 1.3em;
                opacity: 1;
                transform: rotate(360deg);
                color: $tertiary-color;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;               
            }

        }

        #entree1 {
            @include anim-card(100ms);
        }

        #entree2 {
            @include anim-card(200ms);
        }

        #entree3 {
            @include anim-card(300ms);
        }

        #entree4 {
            @include anim-card(400ms);
        }

        #plat1 {
            @include anim-card(500ms);
        }

        #plat2 {
            @include anim-card(600ms);
        }

        #plat3 {
            @include anim-card(700ms);
        }

        #dessert1 {
            @include anim-card(800ms);
        }

        #dessert2 {
            @include anim-card(900ms);
        }

        #dessert3 {
            @include anim-card(1s);
        }
    }
}

.favorite-menu {
    .fa-solid {

        position: absolute;
        top: 60px;
        right: 55px;
        font-size: 0em;
        transition: all 800ms;
        background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
    }

    .fa-regular {

        font-size: 1.9em;
        position: absolute;
        top: 40px;
        right: 40px;
        color: gray;

    }

    &:hover>.fa-solid {

        position: absolute;
        top: 40px;
        right: 40px;

        font-size: 1.9em;

        color: $primary-color;
        opacity: 1;
    }

}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* tablettes */
    .restaurants {

        .card {
            width: 80%;
            aspect-ratio: 8/3;
            height: auto;
            margin: auto;
            margin-top: 20px;

            img {
                border-radius: 25px 25px 0px 0px;
                width: 100%;
                aspect-ratio: 6/3;
                height: auto;

                object-fit: cover;
            }

            .container-infos {
                width: 100%;
            }


        }


    }

    .menu-restaurant {
        section h2 {
            text-align: center;
            font-size: 1.9em;
            font-weight: bold;
            margin: 40px;
        }

        .cards-container-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;

            .element-menu {
                width: 45%;

                margin: auto;
                margin-top: 20px;
            }
        }

    }

}

@media only screen and (min-width: 992px) {

    .restaurants {
        width: 100%;

        .cards-container {
            width: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            a {
                padding: 0px;
                margin: 20px;
                width: 45%;
            }

            .card {
                width: auto;
                margin-top: 20px;
                object-fit: cover;
                aspect-ratio: 8/3;

                img {
                    border-radius: 25px 25px 0px 0px;
                    width: 100%;
                    aspect-ratio: 6/3;
                    height: auto;

                    object-fit: cover;
                }
            }

        }
    }

    .menu-restaurant {
        h1 {
            font-size: 2.3em;
        }

        section h2 {
            text-align: center;
            font-size: 1.9em;
            font-weight: bold;
            margin: 40px;
        }

        .cards-container-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
            width: 100%;

            .element-menu {
                width: 30%;
                margin-top: 40px;
                margin: auto;
            }
        }

    }

}